<head>
    <meta charset="UTF-8">
    <title>HealthyChat</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  
  <body>
    <div class="container">
      <h1>HealthyChat</h1>
      <div id="messages-container">
        <ul id="messages"></ul>
      </div>
      <form id="message-form">
        <input id="message-input" autocomplete="off" /><button>Send</button>
      </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
  </body>
  
  </html>